@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap ");


body {
	background-image:linear-gradient(#e66465, #9198e5);
	background-attachment:fixed;
 
}
::webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-thumb{
	background-image:linear-gradient(#e66465, #9198e5);
}
a{
	text-decoration:none;
	color: #354538;
}
a:hover{
	text-decoration: none;
	color: #000;
}
.container{
	padding-top: 50px;
}
.row{
	height: 90vh;
}
.app_sidebar{
	background-color: aqua;
	padding: 25px 15px;
	height: 100%;
	border-radius: 20px;
	box-shadow: 0 0 10px black;
}
.app_main-content{
	background-color: blueviolet;
	padding: 25px 15px;
	border-radius: 20px;
	box-shadow: 0 0 10px black;
}
.sidebar_icon{
	width: 25px;
	height: 25px;
}
.sidebar_name{
	font-family:'Kaushan Script';
	
	margin: 20px 0;
}
.sidebar_contact{
	background-color: #dbdddf;
	padding: 2px 0;
	margin: 20px -15px;
}
.sidebar_title{
	background-color:#f1f1f1;
	border-radius: 30px;
}
.sidebar_email{
	background-image:linear-gradient(#e66465, #9198e5);
	border-radius: 30px;
	color: #fff;
	margin: 15px 25px 0;
	cursor: pointer;
	transition: all 3s linear;

}
.sidebar_email: hover{
	transform:scale(1.2);
	}

.sidebar_resume:hover,
.sidebar_github:hover{
	background-color: #f1f1f2;
	color: #000;

}
.navbar_active{
	font-size: 2rem;
	font-weight: 700;
	color:#354358;
	border-bottom: 4px solid #00F260;
}
.navbar_items{
	display:flex;
}

.navbar_item{
	margin-right: 20px;
	text-decoration:none;
	color: #354358;
	font-size:1.3rem;
	
}
.navbar_item:hover{
	background: -webkit-linear-gradient(red, blue);
	background-clip: text;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}
.about{
	padding: 10px;
	margin:-35px;
}
.about_intro{
	font-size:1.1rem;
	padding: 20px;
	margin: 10px 0;
}
.about_container{
	background-color: #dbdddf;
	padding: 20px;
}
.about_heading{
	font-size: 25px;
	font-weight: 700;
	color:#354358;
	margin-left: 10px;
}
/*--skillcard--*/
.skillcard{
	background-color: #fff;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	border-radius:10px;
}
.skill-card_icon{
	width: 70px;
	height: 5px; 
}
.skill-card-body{
	margin-left:15px;
}
.skill-card_content{
	margin: 0;
	font-size: 0.9rem;
	color: #6e7e92 ;

}
/*resume ---*/
.resume{
	padding-top: 20px;

}
.resume-card_heading{
	margin-left: 10px;
	font-size:1.5rem;
	font-weight: 700;
	color: #354838;
}
.resume-card_body{
	margin-top: 10px;
}
.resume-card_title{
	font-size: 700;
}
.resume-card_name{
	font-size: 15px;
}

/*bar --*/
.bar {
	weight: 90%;
	background-color: #f1f2f3;
	border-radius: 20px;	
	margin-bottom: 12px;
}
.bar_icon{
	width: 30px;
	height: 30px;
}
.bar_wrapper{
	background-image:linear-gradient(#e66465, #9198e5);	
	border-radius: 20px;
	padding: 4px 15px;
	color: #fff;
	font-size: 0.9rem;

}
/*--projects--*/
.projects{
	height:72vh;
	padding-top: 30px;
	overflow-y: auto;
}
.projectCard_wrapper{
	margin: 10px 0;
	width: 100%;
	height: 100%;
	min-height: 160px;
}
.projectcard_image{
	width: 100%;
	height: 80%;
	border-radius : 30px;
	border: 1px solid red;
}
.projectcard_icon{
	width: 25px;
	height: 25px;
}
.projectCard_title{
	margin-top: 12px;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content:center;
}
.projects_navbar{
	display:flex;
	margin-bottom: 5px;

}
.projects_navbar >div{
	margin: 0 5px;
	font-size:1 rem;
	cursor: pointer;
}

@media (max-width: 600px){
	.app_main-content{
		margin-right: 15px;
		margin-left:15px;
	}
	.navbar_active{
		font-size:1.5rem;
	}
	.navbar_items{
		font-size: 1rem;
	}
}